* {
  font-family: sans-serif;
  margin: auto 20px;
}

body
{
  font-family: sans-serif;
}

h1
{
  font-size: 100px;
}

img {
    display: block;
    margin: auto;
}
h1, h2, h3
{
  margin: 20px auto;
  display: block;
  background-color: yellow;  
  text-align: left;
}
li
{
  margin-bottom: 5px;
}